
<%= form_with model: ride, local: true do |form| %>
    <% if ride.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% ride.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

  
    <div>
        <%= form.label :departure_city %>
        <%= form.select(:departure_city, [ ['Adelaide'], ['Perth'], ['Darwin'], ['Brisbane'], ['Sydney'],['Melbourne'], ['Ballarat'], ['Bendigo'] ].sort )%>
    </div>
    <div>
        <%= form.label :arrival_city %>
        <%= form.select(:arrival_city, [ ['Adelaide'], ['Perth'], ['Darwin'], ['Brisbane'], ['Sydney'],['Melbourne'], ['Ballarat'], ['Bendigo'] ].sort )%>
    </div>
    <div>
        <%= form.label :meeting_point %>
        <%= form.text_area :meeting_point %>
    </div>
    <div>
        <%= form.label :ride_date %>
        <%= form.date_field :ride_date%>
    </div>
    <div>
        <%= form.label :ride_time %>
        <%= form.time_field :ride_time %>
    </div>

    <div>
        <%= form.label :car_color %>
        <%= form.select(:car_color, [['blue'], ['red'], ['green'], ['yellow'], ['pink'], ['orange'], ['white'], ['black'], ['grey'], ['purple']].sort )%>
    </div>

    <div>
        <%= form.label :car_make %>
        <%= form.select(:car_make, [['Toyota'], ['Mercedes'], ['VW'], ['Porsche'], ['Subaru'], ['Holden'], ['Nissan'], ['Honda'], ['Hyundai'], ['Ford'], ['Mazda'], ['Mitsubishi'], ['Audi'], ['Kia'], ['Jeep'] ].sort )%>
    </div>

    <div>
        <%= form.label :price %>
        <%= form.number_field :price %>
    </div>

    <div>
        <%= form.label :car_picture %> <%= form.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>